.modal
  position: fixed
  overflow-y: auto
  z-index: 2
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: #fff
  font-family: 'Roboto Slab'

  &__close-button
    width: 100%
    background: transparent
    border: 0
    position: fixed
    display: block
    @extend .clearfix

  &__close-mark
    border-radius: 5px
    background-color: #fff
    padding: 10px
    width: 30px
    float: right

  &__content
    padding: 25px
    margin-top: 10px
    margin-bottom: 55px

  &__content__title
    font-size: 2em
    color: #ff4081
    margin-bottom: 20px

  &__content__text
    font-size: 1.1em
    font-weight: 300
    line-height: 1.5em
    margin-bottom: 30px

    &--help
      margin-bottom: -50px

    &__ul
      padding-left: 0
      list-style-type: none

      & li::after
        content: ""
        border-bottom: 3px solid #ff4081
        width: 30px
        display: block
        margin: 9px 0
        border-radius: 3px

      & li:last-child::after
        content: ""
        border-bottom: 0

  &__button-wrapper
    position: fixed
    bottom: 0
    left: 0
    right: 0
    padding: 70px 30px 10px 30px
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(60%,rgba(255,255,255,1)))
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%)
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%)
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%)
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 )
    @extend .clearfix

    &__select-button, &__dismiss-button
      padding: 15px 20px
      width: 30%
      border: 0
      border-radius: 5px
      font-size: 1.3em
      color: white
      text-align: center

    &__select-button
      background-color: #ff4081
      float: right

    &__dismiss-button
      background-color: #3f51b5
      float: left
