.result
  padding: 30px
  margin-top: 10vh
  height: 90vh
  box-sizing: border-box
  overflow: auto

  &__tile
    background-color: #fff
    color: #ff4081
    padding: 30px
    display: block
    width: 100%
    box-sizing: border-box
    border: 0
    font-size: 3em
    font-family: 'Roboto Slab'
    margin-bottom: 15px
    border-radius: 5px
    letter-spacing: 1px
    font-weight: 600
    text-align: center

  &__label
    @extend .functions__label
    margin: 0 auto

  &__link
    font-size: 1.5em
    font-weight: 400
    color: #fff
    text-align: center
    text-decoration: none
    display: block
    background-color: #3f51b5
    padding: 8px 15px
    box-sizing: border-box
    border-radius: 5px
    cursor: pointer
    transition: all 0.1s linear
